/* Remove default margin and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
  }
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}